<!-- about.html -->
{% extends 'base.html' %}

{% block title %}
Sobre - Minha Aplicação
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="mb-4">Sobre Nós</h2>
      <p>
        Bem-vindo à nossa aplicação! Nós somos uma equipe dedicada a desenvolver soluções inovadoras para problemas do mundo real.
      </p>
      <p>
        Nossa aplicação utiliza tecnologias modernas para fornecer uma experiência de usuário excepcional e resultados precisos.
      </p>
      <p>
        Estamos comprometidos em fornecer o melhor serviço aos nossos usuários e estamos sempre buscando melhorias.
      </p>
      <p>
        Para mais informações, visite nosso <a href="https://github.com/myller-silva" target="_blank">GitHub</a>.
      </p>
      <p>
        Você também pode entrar em contato conosco pelo e-mail <a href="mailto:myllersilva1312gmail.com">myllersilva1312gmail.com</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}