<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plot Matrix</title>
</head>
<body>
    <h1>Plot Matrix</h1>
    <form action="/plot_matrix" method="post">
        <label for="matrix">Digite a matriz (formato Python, por exemplo: [[1, 2], [3, 4]]):</label><br>
        <textarea id="matrix" name="matrix" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Plotar">
    </form>
    <!-- Aqui está a tag img que irá exibir a imagem -->
<!--    <img src="/plot_matrix" alt="Matriz Plot">-->
</body>
</html>
